@page "/"

<PageTitle>Pizza Paradise</PageTitle>

<h1>Welcome to Pizza Paradise!</h1>

<p>Choose a pizza or explore our custom toppings:</p>

<ul class="list-unstyled mt-3">
    <li class="mb-2">
        <NavLink href="/Pizzas/Margherita" Match="NavLinkMatch.All">Margherita Pizza</NavLink>
    </li>
    <li class="mb-2">
        <NavLink href="/Pizzas/Formaggio" Match="NavLinkMatch.All">Formaggio Pizza</NavLink>
    </li>
    <li class="mb-2">
        <NavLink href="/Toppings/Pepperoni" Match="NavLinkMatch.All">Pepperoni Toppings</NavLink>
    </li>
    <li class="mb-2">
        <NavLink href="/Pizzas/Margherita?extratopping=pineapple" Match="NavLinkMatch.All">Margherita + Pineapple
        </NavLink>
    </li>
</ul>